# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C compilation artifacts
*.o
*.obj
*.dll
*.so
*.dylib

# C/C++ build folders
build/
dist/
*.egg-info/
.eggs/

# Environments
.env
.venv
env/
venv/
ENV/

# IDE / Editor folders
.vscode/
.idea/
*.swp
